<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @Styles.Render("~/Content/css")
    
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <img src="~/Assets/imgs/stellar8-2.png" class="siteLogo" /> <h1>Memory Game</h1>
    </header>
    @RenderBody()
    @Scripts.Render("~/Bundles/js")
</body>
</html>
