
@{
    ViewBag.Title = "Memory Game";
    Layout = "~/Views/PlayGame/_LayoutPlay.cshtml";
}
<div class="content">
    <h2>@ViewBag.Naslov</h2>
    @if (!ViewBag.Login)
    {
        <p>
            @Html.ActionLink("Региструј се", "Register", "PlayGame")
        </p>
        <p>
            @Html.ActionLink("Пријави се", "Login", "PlayGame")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Одјави се", "Logout", "PlayGame")
        </p>
        <p>
            @Html.Label("lblVreme", "Протекло време")
            @Html.Label("TimeOfGame", "00:00", new { id = "lblTOG" })
        </p>
        if (ViewBag.Start)
        {
            @Html.Partial("GamePartial", null, ViewData)
        }
        else
        {
            @Html.Partial("IntroPartial", null, ViewData)

        }
    }
</div>
